button {
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

button:hover {
  color: blue;
}

.container {
  width: 130px;
  height: 150px;
}

.link-to-wheel {
  text-align: center;
}
